	input:invalid {
	  border: 2px solid red;
	}
	
	input:required{
		border: 3px solid #a84aa4;
	}
	
	body{
		background-color:#bfa6c3
	}
	
	#calendar{
		padding:5%;
		background-color:#f0e1ef;
	}
	

	.modal-header, #addToList{
		color:white;
		background-color:#a84aa4;
	}
	
	